body{
	margin: 0px;
}
#blocks {
	width: 100%;
	height: 100vw;
	background-color: white; 
}
#blocks div{
	width: 30%;
	height: 30vw;
	background-color: yellow; 
	border-radius: 30%;
	float: left;
	margin: 1.5%;
}

#row{
	float:none;
}